* {
    margin: 0;
    border: 0;
    color: white;
}

body{
    background-color: #03091c;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.rounded-logo {
    border-radius: 65%;
}

.footer-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer-div > div {
    border: 2px solid #1d4ed8;
    border-radius: 15px;
    max-width: 600px;
    padding: 7px 20px;
    font-family:  Courier;
}

.socials {
    text-decoration: none;
    color: #0b4cc2;
}

.card-img {
    width: 230px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
}

.tracks {
    padding: 20px;
    padding-bottom: -20px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto; 
    /* Overflow-x is used to get Scrool bar*/
}

.bottom-left {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 45px;
    left: 5px;
    --tw-bg-opacity: 1;
    background-color: (3 9 28 / var(--tw-bg-opacity));
    z-index: auto;
}