* {
    margin: 0;
    border: 0;
    color: white;
}

body{
    background-color: #03091c;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.rounded-logo {
    border-radius: 65%;
}

.footer-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer-div > div {
    border: 2px solid #1d4ed8;
    border-radius: 15px;
    max-width: 600px;
    padding: 7px 20px;
    font-family:  Courier;
}

.socials {
    text-decoration: none;
    color: #0b4cc2;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li:not(:first-child) {
    font-size: 25px;
    margin-left: 20px; 
  }
  
  .menu li:first-child {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 1000px;
  }
  .menu li:hover {
    color: rgb(0, 255, 115);
  }