* {
    margin: 0;
    border: 0;
    color: white;
}

body{
    background-color: #03091c;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
}

.rounded-logo {
    border-radius: 65%;
}

.footer-div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer-div > div {
    border: 2px solid #1d4ed8;
    border-radius: 15px;
    max-width: 600px;
    padding: 7px 20px;
    font-family:  Courier;
}

.socials {
    text-decoration: none;
    color: #0b4cc2;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .menu li:not(:first-child) {
    font-size: 25px;
    margin-left: 20px; 
  }

  .menu li:first-child {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 1000px;
  }
  
  .menu button {
    width: 55px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #2c4370;
    color: #e1dada;
    border: none;
    outline: none;
    cursor: pointer;
  }
.card-img{
    width: 230px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
}
.card-imgg{
    width: 230px;
    height: 200px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    border: 4px solid blue;
}
.tracks{
    padding: 20px;
    padding-bottom: -20px;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto; 
    /* Overflow-x is used to get Scrool bar*/
}
.effects{
    
        padding: 20px;
        padding-bottom: -20px;
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto; 
        /* Overflow-x is used to get Scrool bar*/
}

.bottom-left {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 45px;
    left: 5px;
    --tw-bg-opacity: 1;
    background-color: (3 9 28 / var(--tw-bg-opacity));
    z-index: auto;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
.menu li:not(:first-child) {
    margin-left: 20px; 
}

.menu li:first-child {
    padding-left: 30px;
    padding-right: 1000px;
}
.menu button {
    width: 55px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #2c4370;
    color: #e1dada;
    border: none;
    outline: none;
    cursor: pointer;
}
.frames{
    display: flex;
}

.heading {
    background-color: #1d4ed8;
    margin-left: 20px;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 25px;
}

.heading:hover {
    background-color: #042f5a;
    cursor: pointer;
}